*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.perent{
    background-image: url("bgn.jpg");
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 150vh;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img{
    width: 180px;
    margin-left: 150px;
    margin-top: -35px;
    position: relative;
}

.form-container{
    background-color: rgba(0, 0, 0, 0.7);
    width: 470px;
    margin: auto;
    padding: 55px;
    border-radius: 4px;
    margin-top: 5px;
    position: relative;
    padding-bottom: 100px;
}

.form-container h1{
    color: #fff;
    padding-bottom: 16px;
}    

.form{
    margin-top: 30px;
}

.form-container .name-password input{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.525);
    border: none;
    padding: 15px;
    border: 1px solid #636161;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 16px;
    color: #757575;
    font-weight: 700;
    cursor: text;
}

.button input{
    width: 100%;
    background-color: #c11119;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.button input:hover{
    background-color: rgb(140, 1, 1);
    transition-duration: 200ms;
}

.button div{
    text-align: center;
    color: #ffffff83;
    margin: 15px 0;

}

.button button{
    width: 100%;
    color: #fff;
    background-color: #ffffff38;
    padding: 15px 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

.button button:hover{
    background-color: rgba(46, 46, 46, 0.493);
    transition-duration: 200ms;
}

.fp-link{
    text-align: center;
    margin: 15px 0;
}

.fp-link a{
    color: #fff;
}

.checkbox label{
    color: #fff;
    margin-left: 10px;
}

.new-account{
    margin-top: 15px;
}

.new-account span{
    color: #ffffff83;
}

.new-account a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.para{
    margin-top: 15px;
}

.para p{
    color: #ffffff80;
    margin-bottom: 10px;
}

.para a{
    color: #448EF4;
    font-size: 13px;
}